<ol class="breadcrumb">
  <li>{{#link-to 'projects'}}Project: {{project_id}}{{/link-to}}</li>
  <li>{{#link-to 'runs' project_id}}Run: {{run.name}}{{/link-to}}</li>
  <li>{{#link-to 'read_groups'}}Read Groups{{/link-to}}</li>
</ol>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-6">
      <h3>
        <span class="label label-default">Read Groups</span>
      </h3>

      <table class='table table-striped'>
        <thead>
        <tr>
          <th>Library</th>
          <th>Barcode</th>
          <th>Sample</th>
        </tr>
        </thead>

        <tbody>
        {{#each}}
          {{#link-to 'read_group' this tagName="tr"}}
            <td>{{library}}</td>
            <td>{{barcode}}</td>
            <td>{{sample}}</td>
          {{/link-to}}
        {{/each}}
        </tbody>
      </table>

    </div>

    <div class="col-md-6">
      {{outlet}}
    </div>
  </div>
</div>