<ol class="breadcrumb">
  <li>{{#link-to 'runs'}}Runs{{/link-to}}</li>
  <li>{{#link-to 'read_groups'}}Read Groups{{/link-to}}</li>
</ol>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-6">
      <h3>
        <span class="label label-default">Read Groups</span>
      </h3>

      <ul class="nav nav-tabs" role="tablist">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Library Prep <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a {{action 'showTable' '#library-prep-table-1'}}>Page 1</a></li>
            <li><a {{action 'showTable' '#library-prep-table-2'}}>Page 2</a></li>
          </ul>
        </li>
        <li><a {{action 'showTable' '#shearing-info-table'}}>Shearing Info</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            PCR Info <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a {{action 'showTable' '#pcr-info-table-1'}}>Page 1</a></li>
            <li><a {{action 'showTable' '#pcr-info-table-2'}}>Page 2</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Loading Info <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a {{action 'showTable' '#loading-info-table-1'}}>Page 1</a></li>
            <li><a {{action 'showTable' '#loading-info-table-2'}}>Page 2</a></li>
          </ul>
        </li>
      </ul>

      {{partial "read_groups/library_prep"}}
      {{partial "read_groups/loading_info"}}
      {{partial "read_groups/pcr_info"}}
      {{partial "read_groups/shearing_info"}}
    </div>

    <div class="col-md-6">
      {{outlet}}
    </div>
  </div>
</div>