<ol class="breadcrumb">
  <li>{{#link-to 'runs'}}Runs{{/link-to}}</li>
  <li>{{#link-to 'read_groups'}}Read Groups{{/link-to}}</li>
</ol>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-6">
      <h3>
        <span class="label label-default">Read Groups</span>
      </h3>

      <ul class="nav nav-tabs" role="tablist">
        <li><a {{action 'showLibraryPrep'}}>Library Prep</a></li>
        <li><a {{action 'showShearingInfo'}}>Shearing Info</a></li>
        <li><a {{action 'showPCRInfo'}}>PCR Info</a></li>
        <li><a {{action 'showLoadingInfo'}}>Loading Info</a></li>
      </ul>

      {{partial "read_groups/library_prep"}}
      {{partial "read_groups/loading_info"}}
      {{partial "read_groups/pcr_info"}}
      {{partial "read_groups/shearing_info"}}
    </div>

    <div class="col-md-6">
      {{outlet}}
    </div>
  </div>
</div>