<div class="form-container">
  <label>Name</label>
  <p>{{input type="text" value=name class='form-control'}}</p>

  <label>Date</label>
  <p>{{input type="text" value=date class='form-control'}}</p>

  <label>Instrument</label>
  <p>{{input type="text" value=instrument class='form-control'}}</p>

  <label>Instrument Type</label>
  <p>{{input type="text" value=instrument_type class='form-control'}}</p>

  <button class="btn btn-success" {{action 'saveRun'}}>Done</button>
  <button class="btn btn-danger" {{action 'deleteRun'}}>Delete</button>
</div>