<label>Library</label>
<p>{{input type="text" value=library class='form-control'}}</p>

<label>Barcode</label>
<p>{{input type="text" value=barcode class='form-control'}}</p>

<label>Sample</label>
<p>{{input type="text" value=sample class='form-control'}}</p>

<label>project</label>
<p>{{input type="text" value=project class='form-control'}}</p>

<label>library_prep_method</label>
<p>{{input type="text" value=library_prep_method class='form-control'}}</p>

<label>input_ng</label>
<p>{{input type="text" value=input_ng class='form-control'}}</p>

<label>shearing_method</label>
<p>{{input type="text" value=shearing_method class='form-control'}}</p>

<label>avg_insert_size</label>
<p>{{input type="text" value=avg_insert_size class='form-control'}}</p>

<label>max_insert_size</label>
<p>{{input type="text" value=max_insert_size class='form-control'}}</p>

<label>min_insert_size</label>
<p>{{input type="text" value=min_insert_size class='form-control'}}</p>

<label>genome</label>
<p>{{input type="text" value=genome class='form-control'}}</p>

<label>genome_size</label>
<p>{{input type="text" value=genome_size class='form-control'}}</p>

<label>num_reads</label>
<p>{{input type="text" value=num_reads class='form-control'}}</p>

<label>notes</label>
<p>{{textarea value=notes class='form-control'}}</p>

<label>pcr_cycles</label>
<p>{{input type="text" value=pcr_cycles class='form-control'}}</p>

<label>pcr_annealing_sec</label>
<p>{{input type="text" value=pcr_annealing_sec class='form-control'}}</p>

<label>pcr_annealing_deg</label>
<p>{{input type="text" value=pcr_annealing_deg class='form-control'}}</p>

<label>pcr_extension_sec</label>
<p>{{input type="text" value=pcr_extension_sec class='form-control'}}</p>

<label>pcr_extension_deg</label>
<p>{{input type="text" value=pcr_extension_deg class='form-control'}}</p>

<label>start_library_nm</label>
<p>{{input type="text" value=start_library_nm class='form-control'}}</p>

<label>final_library_pm</label>
<p>{{input type="text" value=final_library_pm class='form-control'}}</p>

<label>naoh_stock_date</label>
<p>{{input type="text" value=naoh_stock_date class='form-control'}}</p>

<label>pcr_yield_ng</label>
<p>{{input type="text" value=pcr_yield_ng class='form-control'}}</p>

<label>pcr_conc_nm</label>
<p>{{input type="text" value=pcr_conc_nm class='form-control'}}</p>

<label>pcr_volume_ul</label>
<p>{{input type="text" value=pcr_volume_ul class='form-control'}}</p>

<label>notebook_location</label>
<p>{{input type="text" value=notebook_location class='form-control'}}</p>

<label>pre_denaturation_buffer</label>
<p>{{input type="text" value=pre_denaturation_buffer class='form-control'}}</p>
