<table class='table table-striped' id="library-prep-table">
  <thead>
  <tr>
    <th>Library</th>
    <th>Barcode</th>
    <th>Sample</th>
    <th>Lib Date</th>
    <th>Lib Prep Method</th>
    <th>Input ng</th>
    <th>Notes</th>
    <th>Notebook Location</th>
  </tr>
  </thead>

  <tbody>

  {{#each}}
    {{#link-to 'read_group' this tagName="tr"}}
      <td>{{library}}</td>
      <td>{{barcode}}</td>
      <td>{{sample}}</td>
      <td>{{format-date library_date}}</td>
      <td>{{library_prep_method}}</td>
      <td>{{input_ng}}</td>
      <td>{{notes}}</td>
      <td>{{notebook_location}}</td>
    {{/link-to}}
  {{/each}}
  </tbody>
</table>