<table class='table table-striped' id="pcr-info-table-1" style="display:none;">
  <thead>
  <tr>
    <th>Cycles</th>
    <th>Annealing Sec</th>
    <th>Annealing Deg</th>
    <th>Extension Sec</th>
    <th>Extension_Deg</th>
  </tr>
  </thead>

  <tbody>

  {{#each}}
    {{#link-to 'read_group' this tagName="tr"}}
      <td>{{pcr_cycles}}</td>
      <td>{{pcr_annealing_sec}}</td>
      <td>{{pcr_annealing_deg}}</td>
      <td>{{pcr_extension_sec}}</td>
      <td>{{pcr_extension_deg}}</td>
    {{/link-to}}
  {{/each}}
  </tbody>
</table>

<table class='table table-striped' id="pcr-info-table-2" style="display:none;">
  <thead>
  <tr>
    <th>Yield ng</th>
    <th>Conc nm</th>
    <th>Column ul</th>
  </tr>
  </thead>

  <tbody>

  {{#each}}
    {{#link-to 'read_group' this tagName="tr"}}
      <td>{{pcr_yield_ng}}</td>
      <td>{{pcr_conc_nm}}</td>
      <td>{{pcr_volumn_ul}}</td>
    {{/link-to}}
  {{/each}}
  </tbody>
</table>

